
<%=%>
<%total = @sayings.length%>
<%used = Array.new%>
<%total.times do |s|%>
	<%number = rand(total)%>
	<%while used.include?(number) do number = rand(total) end%>
	<%used << number%>
	<span class="underblock">
		<div class = "textblock">
			<p><%= @sayings[number]['saying'] %></p>
		</div>

		<div class = "textblock links">
			<a href="#">up</a> |
			<a href="#">down</a> |
			<a href="#">remove</a>
		</div>
	</span>
<%end%>