/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	background: url('/images/mountains.jpg') no-repeat center fixed;
	background-size: cover;
	margin: 5%;
}

div{
	background: #AABBCC;
}

table#navbar{
	background: #55607B;
	padding: 1%;
	margin-bottom: 10px;
	border: 2px;
	border-radius: 10px;
	width: 100%;
}

div.textblock{
	margin: 1%;
	padding: 2%;
	text-align: center;
}

.underblock{
	background: #55607B;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 33%;
	margin: .165%;
	margin-bottom: 10px;
	float: left;
	min-width:300px;
	border: 2px;
	border-radius: 10px;
}

.navunit{
	text-align: center;
	background: #55607B;
	width:25%;
}

td a.navtext{
	display:block;
	background: #5555BB;
	width:80%;
	text-decoration: none;
	color: #FF2244;
	padding: 2%;
}


