/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	background: url('/images/mountains.jpg') no-repeat center fixed;
	background-size: cover;
	margin: 5%;
}

div{
	background: gray;
}

div#navbar{
	background: #55607B;
	padding: 1%;
	margin-bottom: 10px;
}

div.textblock{
	margin: 1%;
	padding: 2%;
}

.underblock{
	background: #55607B;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 33.33%;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	min-width:300px;	
}