<!DOCTYPE html>
<html>
<head>
  <title>Chimeral</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<table id="navbar">
		<tr>
			<td class="navunit">
				<a href="/" class="navtext">navigation</a>
			</td>
			<td class="navunit">
				<a href="/" class="navtext">bar</a>
			</td>
			<td class="navunit">
				<a href="/" class="navtext">of</a>
			</td>
			<td class="navunit">
				<a href="/sayings" class="navtext">Sayings</a>
			</td>
		</tr>
	</table>

<%= yield %>

</body>
</html>
