<!DOCTYPE html>
<html>
<head>
  <title>Chimeral</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<table id="navbar">
		<tr>
			<td class="navunit">
				<p>navigation</p>
			</td>
			<td class="navunit">
				<p>bar</p>
			</td>
			<td class="navunit">
				<p>of</p>
			</td>
			<td class="navunit">
				<p>uselessness</p>
			</td>
		</tr>
	</table>

<%= yield %>

</body>
</html>
